<div class="container">
  <div class="page-header">
    <h1>Cityscape Photography</h1>
    <p class="lead">How to Take Great Cityscape Photos</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="http://i.imgur.com/ADR7hSi.jpg" width="360px" style="display: block; float: left; padding-right: 25px">
      <p style="font-size: 1.25em;">Most of us will live in or near a big city. Amongst the concrete and tall buildings there is an opportunity to capture the shape and design of the city. Dramatic cityscapes are one of the most powerful images we have in photography. It can convey a sense of wonder, power and beauty, often all three together.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Tips</h3>
      <ul style="list-style-type:none;">
        <li>After the golden hour settles, the sky grows darker, while city lights illuminate below. This immediately post-sunset or pre-sunrise moment (known as twilight or the Blue Hour) may be the best time for shooting cityscapes.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Links</h3>
      <ul style="list-style-type:none;">
        <li><a href="https://digital-photography-school.com/10-tips-better-cityscape-photography/">10 Tips for Better Cityscape Photography</a></li>
        <li><a href="http://www.exposureguide.com/photographing-cityscapes.htm">Take Your Night Photography to the Next Level</a></li>
        <li><a href="https://www.lightstalking.com/how-to-improve-your-cityscape-photographs/">How to Improve Your Cityscape Photographs</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Equipment</h3>
      <ul style="list-style-type:none;">
        <li>Tilt shift lenses are great for photography cities. We recommend the <a href="https://www.amazon.com/Rokinon-TSL24M-C-Shift-Fixed-Canon/dp/B00BPOF0C8/ref=sr_1_2?ie=UTF8&qid=1500154109&sr=8-2&keywords=tilt+shift+lens">Rokinon TSL24M-C</a> or the <a href="https://www.amazon.com/Canon-Ultra-Tilt-Shift-Digital-Cameras/dp/B001TDL2O0/ref=sr_1_1?ie=UTF8&qid=1500154197&sr=8-1&keywords=tilt+shift+lens">Canon TS-E</a>.</li>
      </ul>
    </div>
    <% if @mov == "motion" %>
      <div class="col-md-4">
        <h3>Action Photography Links</h3>
        <ul style="list-style-type:none;">
          <li><a href="http://www.photographymad.com/pages/view/the-perfect-camera-settings-for-action-and-sports-photography">The perfect camera settings for action and sports photography</a></li>
          <li> <a href="https://photographylife.com/what-is-shutter-speed-in-photography">What is shutter speed in photography</a></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
