<div class="container">
  <div class="page-header">
    <h1>Landscape Photography</h1>
    <p class="lead">How to Take Great Landscape Photos</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="http://i.imgur.com/H1eQDm6.jpg" width="360px" style="display: block; float: left; padding-right: 25px">
      <p style="font-size: 1.25em;">Landscapes can be one of the easiest of all photographic subjects. Basically, all you need to do is find a nice view in the right lighting and snap away. Look a little closer at landscape images that really hold your attention, however, and you’ll often find that there’s much more to this simple subject than meets the eye.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Tips</h3>
      <ul style="list-style-type:none;">
        <li>While there may be times that you want to get a little more creative and experiment with narrow depth of fields in your Landscape Photography – the normal approach is to ensure that as much of your scene is in focus as possible.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Links</h3>
      <ul style="list-style-type:none;">
        <li><a href="https://digital-photography-school.com/11-surefire-tips-for-improving-your-landscape-photography/">11 Surefire Landscape Photography Tips</a></li>
        <li><a href="http://www.techradar.com/how-to/photography-video-capture/cameras/26-landscape-photography-tips-every-pro-still-uses-1320893">21 Landscape Photography Tips You'll Never Want to Forget</a></li>
        <li><a href="https://photographylife.com/landscape-photography-guide">Landscape Photography Guide</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Equipment</h3>
      <ul style="list-style-type:none;">
        <li>Most of the time you will want to use an ultra-wide angeled lens to capture all the elements of the landscape. We recommend the <a href="https://www.amazon.com/Samyang-SY14M-S-Ultra-Angle-Alpha/dp/B006MI1YM2/ref=br_lf_m_mrah2outkvtu54n_ttl?_encoding=UTF8&s=photo">Samyang SY14M-S</a> or the <a href="https://www.amazon.com/Sony-SEL28F20-Standard-Prime-Mirrorless-Cameras/dp/B00U29GN6O/ref=pd_sbs_421_7?_encoding=UTF8&psc=1&refRID=YBF99NQFSEKVFWT9ZG4Q">Sony Sony SEL28F20</a>.</li>
      </ul>
    </div>
  </div>
</div>
