<div class="container">
  <div class="page-header">
    <h1>Macro Photography</h1>
    <p class="lead">How to Take Great Macro Photos</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="http://i.imgur.com/IbDNZHg.jpg" width="360px" style="display: block; float: left; padding-right: 25px">
      <p style="font-size: 1.25em;">The first time a photographer looks through a macro lens is invariably a moment of artistic epiphany. You notice details you never noticed before, find a renewed appreciation for the subtleties of light and shadow, and discover that a slight twist of the focus ring or shift in your position can make for a completely new work of art.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Tips</h3>
      <ul style="list-style-type:none;">
        <li>Explore textures and patterns. Find beauty in something the naked eye is unlikely to notice. Train your eyes to see the world a little differently, and then set about capturing it!</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Links</h3>
      <ul style="list-style-type:none;">
        <li><a href="http://www.amateurphotographer.co.uk/technique/macro_photography/top-12-macro-photography-tips-2429">Top 12 Macro Photography Tips</a></li>
        <li><a href="https://digital-photography-school.com/macro-photography-for-beginners-part-1/">Macro Photography for Beginners</a></li>
        <li><a href="http://www.davewilsonphotography.com/tutorials/a-beginners-guide-to-macro-photography/">Macro Photography Hints and Tips from a Self-Taught Beginner</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Equipment</h3>
      <ul style="list-style-type:none;">
        <li>The focal length of macro lenses range from 50mm to 200mm. We recommend the <a href="https://www.amazon.com/Nikon-NIKKOR-80-200mm-Focus-Cameras/dp/B00005LEOH/ref=sr_1_3?ie=UTF8&qid=1500152911&sr=8-3&keywords=Nikon+200mm+macro+lens">Nikon AF FX</a>. The <a href="https://www.amazon.com/Canon-100mm-Macro-Digital-Cameras/dp/B002NEGTSI/ref=sr_1_14?ie=UTF8&qid=1500152988&sr=8-14&keywords=macro+lens">Canon EF</a> is another good option.</li>
      </ul>
    </div>
    <% if @mov == "motion" %>
      <div class="col-md-4">
        <h3>Action Photography Links</h3>
        <ul style="list-style-type:none;">
          <li><a href="http://www.photographymad.com/pages/view/the-perfect-camera-settings-for-action-and-sports-photography">The perfect camera settings for action and sports photography</a></li>
          <li> <a href="https://photographylife.com/what-is-shutter-speed-in-photography">What is shutter speed in photography</a></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
