<div class="container">
  <div class="page-header">
    <h1>Portrait Photography</h1>
    <p class="lead">How to Take Great Portraits</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="http://i.imgur.com/067gg4x.jpg" width="360px" style="display: block; float: left; padding-right: 25px">
      <p style="font-size: 1.25em;">Portraits are one of the most powerful kinds of photographs. A great portrait can last for decades, memorializing a person’s entire life, or just a single instant. The difference between a snapshot and a good portrait is more narrow than you’d think. It just requires a little bit of thought.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Tips</h3>
      <ul style="list-style-type:none;">
        <li> A great place to shoot a portrait is somewhere shady, like under a tree or in an alley, on a sunny day or in a room lit by a single large window.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Links</h3>
      <ul style="list-style-type:none;">
        <li><a href="http://www.techradar.com/how-to/photography-video-capture/cameras/14-portrait-photography-tips-you-ll-never-want-to-forget-1320776">14 Portrait Photography Tips You'll Never Want to Forget</a></li>
        <li><a href="https://digital-photography-school.com/tips-portrait-photography/">10 More Tips for Stunning Portrait Photography</a></li>
        <li><a href="https://www.bhphotovideo.com/explora/photography/tips-and-solutions/seven-tips-every-beginning-portrait-photographer-should-know">8 Tips Every Beginning Portrait Photographer Should Know</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Equipment</h3>
      <ul style="list-style-type:none;">
        <li>A perfect portrait lens is the 50mm f/1.8 “Nifty Fifty”. We recommend the <a href="https://www.amazon.com/Canon-50mm-1-8-STM-Lens/dp/B00X8MRBCW/ref=sxts_k2p_hero1?tag=823814-20&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=2668834182&pd_rd_wg=a88dY&pf_rd_r=GYZJXQFJ3ME27YAVBYPC&pf_rd_s=desktop-sx-top-slot&pf_rd_t=301&pd_rd_i=B00X8MRBCW&pd_rd_w=blJdb&pf_rd_i=canon+50mm&pd_rd_r=CGGEC192CJMG7QMWWT61&ie=UTF8&qid=1478825189&sr=1">Canon STM</a> or <a href="https://www.amazon.com/Nikon-AF-S-NIKKOR-Focus-Cameras/dp/B004Y1AYAC/ref=sr_1_1?tag=823814-20&ie=UTF8&qid=1478825195&sr=8-1&keywords=nikon+50mm">Nikon AF-S</a>.</li>
        <li>For beautiful, stable shots we recomment the <a href="https://www.amazon.com/gp/product/B000N7VPRW/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000N7VPRW&linkCode=as2&tag=dpsgeneral-20">Manfrotto 475B Pro</a> tripod.</li>
      </ul>
    </div>
  </div>
</div>
